@font-face {
    font-family: Figtree-Medium;
    src: url(assets/fonts/static/Figtree-Medium.ttf);
}

@font-face {
    font-family: Figtree;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
    font-family: Figtree-ExtraBold;
    src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
}


body{
    background-color: hsla(47, 88%, 63%);
    min-height: 100svh;    
    
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color: hsl(0, 0%, 100%);
    width: 20rem;
    padding: 1rem;
    border: 1px solid black;
    box-shadow: 5px 5px 1px 1px black;
    border-radius: 0.5rem;
    display: flex;
    align-items: start;
    flex-flow: column;
}

main img{
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
}

main h2{
    background-color: hsla(47, 88%, 63%);
    font-family: Figtree-ExtraBold;
    font-size: 0.5rem;
    padding: 0.2rem 0.4rem;
    margin-top: 1rem;
    border-radius: 0.1rem;
}

main h3{
    font-family: Figtree;
    font-size: 0.5rem;
    margin-top: 0.5rem;
    color: hsl(0, 0%, 7%);
}

main h1{
    font-family: Figtree-ExtraBold;
    font-size: 1em;
    margin-top: 1em;
}

main p{
    font-family: Figtree;
    font-size: 0.8rem;
    color: hsl(0, 0%, 42%);
    margin-top: 1rem;
}

main .avatar{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 0.3rem;
}

main .avatar img{
    height: 2rem;
    width: 2rem;
}

main .avatar p{
    font-family: Figtree-ExtraBold;
    margin-left: 0.5rem;
    color: hsl(0, 0%, 7%);
}

