@font-face {
    font-family: Figtree-Medium;
    src: url(assets/fonts/static/Figtree-Medium.ttf);
}

@font-face {
    font-family: Figtree;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
    font-family: Figtree-ExtraBold;
    src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
}


body{
    background-color: hsla(47, 88%, 63%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

main{
    background-color: hsl(0, 0%, 100%);
    width: 35%;
    height: auto;
    margin-top: 5%;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 1px 1px black;
    border-radius: 15px;
    display: flex;
    align-items: start;
    flex-flow: column;
}

main img{
    width: 100%;
    border-radius: 15px;
}

main h2{
    background-color: hsla(47, 88%, 63%);
    font-family: Figtree-ExtraBold;
    font-size: 15px;
    font-weight: 800px;
    padding: 4px 10px;
    margin-top: 10px;
    border-radius: 5px;
}

main h3{
    font-family: Figtree;
    font-size: 16px;
    margin-top: 10px;
    color: hsl(0, 0%, 7%);
}

main h1{
    font-family: Figtree-ExtraBold;
    font-weight: 800px;
    margin-top: 15px;
}

main p{
    font-family: Figtree;
    color: hsl(0, 0%, 42%);
    margin-top: 20px;
}

main .avatar{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 20px;
}

main .avatar img{
    height: 50px;
    width: 50px;
}

main .avatar p{
    font-family: Figtree-ExtraBold;
    margin-left: 10px;
    color: hsl(0, 0%, 7%);
}


.attribution{
    margin-top: 10px;
}

